numpy==1.26.4
pandas
scikit-learn
torch

transformers==4.44.2
datasets>=2.19.0
evaluate>=0.4.0
sentencepiece
huggingface_hub>=0.23.2,<1.0

peft==0.12.0
accelerate>=0.30.0
bitsandbytes==0.41.0

rouge_score==0.1.2
absl-py==1.4.0
nltk==3.8.1
tqdm==4.66.1

